@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Bar{
  background: #424242;
  border-radius:10px 10px 10px 10px;
}

body{
  background: black;
  background-repeat: no-repeat;
}

.Bar a:link, .Bar a:visited {
  text-decoration:none;
  color: white;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
}

.Bar a:hover {
  font-family: 'Amatic SC', cursive;
  background: #6e3844;
  font-size: 40px;
  border-radius: 10px 10px 10px 10px;
}

.Bar a:active {
  font-family: 'Amatic SC', cursive;
  background: #eb9da6;
  font-size: 40px;
}

.Ueber {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
  color: white;
}

.Images{
  margin-top:50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.Bisher{
  float: right;
}

.Hanna{
  float: left;
  border-radius: 10%;
}

.List{
  text-align: center;
  background: #31422c;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
  max-width: auto;
  border-radius:20px 20px 20px 20px;
}

.About{
  text-align: left;
}

.List1{
  text-align: center;
  background: #613d3d;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 15px;
  border-radius:20px 20px 20px 20px;
  
}

.About1{
  text-align: left;
  
}

.Images1{
  float: right;
}

.Download{
  color:white;
  text-align: right;
}

.GitHub{
  display: block;
  float: right;
}

.PowerdBy{
  color:white;
  text-align: right;
}

.Logo{
  display: block;
  float: right;
}
